th {
    font-weight: 800;
}

table{
    font-family : Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 3px solid black;
    border-radius: 60px;
    padding: 10px;
}
 
td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
  }